
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <link href="~/css/toastr.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link href="~/css/uniform.default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link href="~/css/components.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link href="~/css/plugins.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link href="~/css/layout.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link href="~/css/custom.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link href="~/css/default.css?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]" rel="stylesheet" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <script src="~/Scripts/jquery-3.3.1.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
    <script src="~/Scripts/bootstrap.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
    <script src="~/Scripts/toastr.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
    <script src="~/Scripts/pwstrength-bootstrap.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
    <script src="~/Scripts/jquery.validate.min.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
    <script src="~/ApplicationScripts/AjaxCommonMethods.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
    <script src="~/ApplicationScripts/security-PasswordValidations.js?v=@System.Web.Configuration.WebConfigurationManager.AppSettings["myKey"]"></script>
    <script>
        $(document).ready(function () {
            var options = {};
            options.common = {
                minChar: 8
            };
            options.rules = {
                activated: {
                    wordTwoCharacterClasses: true,
                    wordRepetitions: true,
                    wordUppercase: true
                },
                scores: { wordUppercase: 5 }
            };
            options.ui = {
                //showErrors: true,
                //showStatus: true
            };
            $('#txbPassword').pwstrength(options);
            AdjustColumnHeight();
            $(window).resize(function () {
                AdjustColumnHeight();
            });
        });

        function AdjustColumnHeight() {
            var windowWidth = $(window).width();
            console.log('Window width ' + windowWidth);
            if (windowWidth > 972) {
                $('#changePasswordBody').height($('#safetyTips').height());
            } else {
                $('#changePasswordBody').height('auto');
            }
            if (windowWidth > 972 && windowWidth < 1030) {
                $('#buttonContainer').css('padding-top', '20%');
            }
            else if (windowWidth >= 1030 && windowWidth < 1046) {
                $('#buttonContainer').css('padding-top', '18%');
            }
            else if (windowWidth >= 1046 && windowWidth < 1086) {
                $('#buttonContainer').css('padding-top', '16%');
            }
            else if (windowWidth >= 1086 && windowWidth < 1112) {
                $('#buttonContainer').css('padding-top', '14%');
            }
            else {
                $('#buttonContainer').css('padding-top', '');
            }
        }
        function ChangePassword() {
            //debugger;
            var userPassword = $("#txbPassword").val();
            var userConfirmPassword = $("#txbConfirmPassword").val();
            var userName = $("#hiddenUserName").val();
            var userId = $("#hiddenUseId").val();
            if (userPassword == "") {
                toastr.error("Please provide new password");
                return false;
            }
            else if (userConfirmPassword == "") {
                toastr.error("Please provide confirm password");
                return false;
            }
            else if (userPassword != userConfirmPassword) {
                toastr.error("New password and confirm password should be same");
                return false;
            }
            var passwordValidation = validateUserPasswordWithConfirmPassword(userPassword, userConfirmPassword, userName);
            if (passwordValidation == "true") {
                var token = $('[name=__RequestVerificationToken]').val();
                var param = { "password": userPassword, "userId": userId, "userName": userName };
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: "/User/ResetPassword",
                    headers: { '__RequestVerificationToken': token },
                    data: JSON.stringify(param),
                    success: function (data) {
                        console.log("data")
                        console.log(data)
                        if (data.Feedback == "1") {
                            toastr.success("Password changed successfully.");
                            window.setTimeout(function () {
                                var url = '@Url.Action("Login", "User")';
                                window.location.href = url;
                            }, 1500);
                        }
                        else if (data.Feedback == "2") {
                            toastr.error("Faild to reset your password");
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error In Ajax Call');
                        console.log('Status: ' + textStatus);
                        console.log('Error: ' + errorThrown);
                    }
                });
            }
            else {
                toastr.error(passwordValidation);
            }
        }

    </script>

    <style>
        .progress {
            margin-bottom: 0px !important;
        }

        #backToLogin {
            color: #4F5E73;
            text-decoration: none;
        }

            #backToLogin:hover {
                color: #4F5E73;
                text-decoration: none;
            }

        .image-grey {
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            -webkit-filter: grayscale(100%);
            z-index: -1;
        }

        .purple {
            color: #fff;
            background-color: #6E2D91 !important;
            border-color: #6E2D91 !important;
            font-size: 13px;
        }
    </style>

    @if (ViewBag.OtherApplication == "1")
    {
        <style>
            .purple {
                background-color: #3f51b5 !important;
                border-color: #3f51b5 !important;
            }

            .portlet.blue {
                background-color: #3f51b5 !important;
            }
        </style>
    }
    else if (ViewBag.OtherApplication == "2")
    {
        <style>
            .purple {
                background-color: #3f51b5 !important;
                border-color: #3f51b5 !important;
            }

            .portlet.blue {
                background-color: #3f51b5 !important;
            }
        </style>
    }

</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-style-rounded">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken();
    }
    <input type="hidden" value="@ViewBag.userDetail.UserName" id="hiddenUserName" />
    <input type="hidden" value="@ViewBag.userDetail.EncryptedUserId" id="hiddenUseId" />
    <div class="clearfix">
    </div>
    <div class="page-container" style="margin-top:0px;">
        @if (ViewBag.userDetail != null)
        {
            if (ViewBag.userDetail.LinkExpired)
            {
                <div class="row" style="margin: 15px 30px">
                    <div class="col-md-12" style="padding: 15px;color: #fff;font-size: 20px;" id="changePasswordCaption">
                        @ViewBag.userDetail.UserFeedback
                    </div>
                </div>
            }
        }
        @if (ViewBag.userDetail != null)
        {
            if (!ViewBag.userDetail.LinkExpired)
            {
                <div class="row row-eq-height" style="margin: 15px;" id="changePasswordArea">
                    <div class="col-md-6 col-sm-12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>Change Password
                                </div>
                            </div>
                            <div class="portlet-body" id="changePasswordBody">
                                <div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; margin-left: 0px; margin-right: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="">
                                        <label class="control-label">New Password</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="height: 70px">
                                        <input id="txbPassword" type="password" class="form-control" style="height: 31px;" />
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; margin-left: 0px; margin-right: 0px;">
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="">
                                        <label class="control-label">Confirm Password</label>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="">
                                        <input id="txbConfirmPassword" type="password" class="form-control" style="height: 31px;" />
                                    </div>
                                </div>
                                <div class="row" style="padding: 14px 0 0; text-align: right; margin-left: -12px; margin-right: -12px;" id="buttonContainer">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
                                        <button type="button" class="btn purple" style="margin: 12px;" onclick="ChangePassword()">Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="fa fa-edit"></i>Password Safety Tips
                                </div>
                            </div>
                            <div class="portlet-body" id="safetyTips">
                                <ul style="line-height: 2.3em">
                                    <li>
                                        Never reveal your password to anyone.
                                    </li>
                                    <li>
                                        Don't just use a single password, change it for every application.
                                    </li>
                                    <li>
                                        Create passwords that are easy to remember but hard for others to guess.
                                    </li>
                                    <li>
                                        Make your password a little different by adding a couple of unique letters.
                                    </li>
                                    <li>
                                        Never include a username in your password.
                                    </li>
                                    <li>
                                        Make the password at least 8 characters long.
                                    </li>
                                    <li>
                                        Include numbers, capital letters and symbols.
                                    </li>
                                    <li>
                                        Don’t use dictionary words.
                                    </li>
                                    <li>
                                        Consider using a password manager.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="row row-eq-height" style="margin: 15px;" id="changePasswordArea">
                <div class="col-md-6 col-sm-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Change Password
                            </div>
                        </div>
                        <div class="portlet-body" id="changePasswordBody">
                            <div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="">
                                    <label class="control-label">New Password</label>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="height: 70px">
                                    <input id="txbPassword" type="password" class="form-control" style="height: 31px;" />
                                </div>
                            </div>
                            <div class="row" style="padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e5e5e5; margin-left: 0px; margin-right: 0px;">
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="">
                                    <label class="control-label">Confirm Password</label>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" style="">
                                    <input id="txbConfirmPassword" type="password" class="form-control" style="height: 31px;" />
                                </div>
                            </div>
                            <div class="row" style="padding: 14px 0 0; text-align: right; margin-left: -12px; margin-right: -12px;" id="buttonContainer">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
                                    <button type="button" class="btn purple" onclick="ChangePassword()">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Password Safety Tips
                            </div>
                        </div>
                        <div class="portlet-body" id="safetyTips">
                            <ul style="line-height: 2.3em">
                                <li>
                                    Never reveal your password to anyone.
                                </li>
                                <li>
                                    Don't just use a single password, change it for every application.
                                </li>
                                <li>
                                    Create passwords that are easy to remember but hard for others to guess.
                                </li>
                                <li>
                                    Make your password a little different by adding a couple of unique letters.
                                </li>
                                <li>
                                    Never include a username in your password.
                                </li>
                                <li>
                                    Make the password at least 8 characters long.
                                </li>
                                <li>
                                    Include numbers, capital letters and symbols.
                                </li>
                                <li>
                                    Don’t use dictionary words.
                                </li>
                                <li>
                                    Consider using a password manager.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="page-footer hidden">
        <div class="page-footer-inner">
        </div>
        <div style="float: right;">
            <span id="lblVersionInfo" style="color: azure">1.3.4.5</span>
        </div>
    </div>
</body>
</html>
