
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllowRiskManager = System.Configuration.ConfigurationManager.AppSettings["AllowRiskManager"].ToString();
    var AllowBusinessCard = System.Configuration.ConfigurationManager.AppSettings["AllowBusinessCard"].ToString();
    var AllowDAC6 = System.Configuration.ConfigurationManager.AppSettings["AllowDAC6"].ToString();
    var AllowTrainingCourses = System.Configuration.ConfigurationManager.AppSettings["AllowTrainingCourses"].ToString();
    var AllowFileRepository = System.Configuration.ConfigurationManager.AppSettings["AllowFileRepository"].ToString();
}


<!-- BEGIN PAGE CONTENT BODY -->
<div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-md-12" style="padding: 0px;">
        <div class="portlet-body">
            <table id="userTable" class="table table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th colspan="12" style='padding-left: 10px;'>Accounts</th>
                    </tr>
                    <tr>
                        <th>Account Id</th>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Organization</th>
                        <th @AllowRiskManager>Mitigate</th>
                        <th @AllowFileRepository>File Repository</th>
                        <th @AllowBusinessCard>Business Card</th>
                        <th @AllowDAC6>DAC 6</th>
                        <th @AllowTrainingCourses>Training Courses</th>
                        <th>Manage</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="ModalAccountManagement" data-backdrop="static" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeGrayIcon" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="userManagementModalTitle">Add Account</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" id="hdnAccountId" />
                            <label class="control-label">Account Id</label><span class="required">*</span>
                            <input type="text" id="txbUserID" class="form-control spinner" tabindex="4" placeholder="Account Id">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Organization</label><span class="required">*</span>
                            <input type="text" id="txbOrganization" class="form-control spinner" tabindex="4" placeholder="Organization">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Username</label><span class="required">*</span>
                            <input type="text" id="txbUserName" value="admin" readonly="readonly" class="form-control spinner" tabindex="4" placeholder="Username">
                        </div>
                    </div>
                    <div class="col-md-6" id="passwordSection">
                        <div class="form-group">
                            <label class="control-label">Password</label><span class="required">*</span>
                            <input type="password" id="txbPassword" class="form-control spinner" tabindex="4" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">First Name</label><span class="required">*</span>
                            <input type="text" id="txbFirstName" class="form-control spinner" tabindex="4" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Last Name</label><span class="required">*</span>
                            <input type="text" id="txbLastName" class="form-control spinner" tabindex="4" placeholder="Last Name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label><span class="required">*</span>
                            <input type="email" id="txbEmail" class="form-control spinner" tabindex="4" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Phone</label>@*<span class="required">*</span>*@
                            <input type="tel" id="txbPhone" class="form-control spinner" tabindex="4" placeholder="Phone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Support Emails</label><span class="required">*</span>
                            <textarea id="textAreaSupportEmails" class="form-control spinner" tabindex="4" rows="2" placeholder="Multiple emails with semicolon(;) separated"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" id="TrainingCoursesSection">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">User Limit</label><span class="required">*</span>
                            <input type="number" id="txbUserLimit" value="0" min="0" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Company Courses</label>
                            <select id="coursesList" multiple="multiple" class="form-control spinner" data-width="100%">
                                @if (ViewBag.coursesList != null)
                                {
                                    foreach (var course in ViewBag.coursesList)
                                    {
                                        <option value="@course.Value">@course.Text </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12" >
                            <div class="form-group">
                                <label class="control-label">Company Logo</label>
                                <input type="file" class="form-control" id="logoupload" name="logoupload" accept=".png, .jpg, .jpeg" onchange="loadimageFile(event)" />
                                <div class="front-image" style="display:none;border:2px solid #000000;height:120px;width:100px;margin-top:10px">
                                    <img src="" height="110" width="90" id="imglogoshow" />
                                </div>
                            </div>
                    </div>
                    @*<div class="col-md-6 allowcourseadmin">
                        <div class="form-group">
                            <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">Manage Courses</label>
                            <input type="checkbox" id="ckballowCourseadminSwitch" class="make-switch" tabindex="10" data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                        </div>
                    </div>*@
                </div>

                @*<div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="accountStatusSection">
                            <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">Active</label>
                            <input type="checkbox" id="ckbActiveAccountSwitch" class="make-switch" tabindex="10" checked data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group" id="accountStatusSection">
                        <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">Active</label>
                        <input type="checkbox" id="ckbActiveAccountSwitch" class="make-switch" tabindex="10" checked data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                    </div>
                </div>
                <div class="col-md-4 @AllowRiskManager" style="display:none">
                    <div class="form-group">
                        <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">Mitigate</label>
                        <input type="checkbox" id="ckbAllowRiskManagerSwitch" class="make-switch" tabindex="10" checked data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                    </div>
                </div>
                <div class="col-md-4 @AllowFileRepository" style="display:none">
                    <div class="form-group">
                        <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">File Repository</label>
                        <input type="checkbox" id="ckbAllowFileRepositorySwitch" class="make-switch" tabindex="10" checked data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                    </div>
                </div>
                <div class="col-md-4 @AllowBusinessCard" style="display:none">
                    <div class="form-group">
                        <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">Business Card</label>
                        <input type="checkbox" id="ckbAllowBusinessCardSwitch" class="make-switch" tabindex="10" checked data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                    </div>
                </div>
                <div class="col-md-4 @AllowDAC6" style="display:none">
                    <div class="form-group">
                        <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">DAC 6</label>
                        <input type="checkbox" id="ckbAllowDAC6Switch" class="make-switch" tabindex="10" data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                    </div>
                </div>
                <div class="col-md-4 @AllowTrainingCourses"  style="display:none">
                    <div class="form-group">
                        <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">Training Courses</label>
                        <input type="checkbox" id="ckbAllowTrainingCoursesSwitch" class="make-switch" tabindex="10" data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                    </div>
                </div>
                <div class="col-md-4 allowcourseadmin" id="admincourseadd">
                    <div class="form-group">
                        <label class="control-label" style="margin-top: 6px;display:block; margin-right: 10px;display: block;">Manage Own Courses</label>
                        <input type="checkbox" id="ckballowCourseadminSwitch" class="make-switch" tabindex="10" data-on-text="Yes" data-off-text="No" data-off-color="danger" data-on-color="default">
                    </div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn default">Close</a>
                <a class="btn purple" id="btnAddOrUpdate">Add</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ajaxLoader" style="z-index: 11049;" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="/images/loading-spinner-grey.gif" alt="" class="loading" />
                <span style="vertical-align: super" id="loaderText">&nbsp;&nbsp;Managing account details. Please wait...</span>
            </div>
        </div>
    </div>
</div>
<script>
    var AccountList = @Html.Raw(Json.Encode(@ViewBag.accounts));
    var selectedCourses = [];
    $(document).ready(function () {
        $("#accounts").addClass("active");
        $('#userTable').dataTable({
            destroy: true,
            "oLanguage": {
                "oPaginate": {
                    "sPrevious": "<i class='fa fa-angle-double-left'></i>", // This is the link to the previous page
                    "sNext": "<i class='fa fa-angle-double-right'></i>", // This is the link to the next page
                }
            },
            "pageLength": 10,
            "info": false,
            "aaSorting": [],
            //"ordering": false,
            //"lengthChange": false
            initComplete: function () {
                $(this.api().table().container()).find('input').parent().wrap('<form>').parent().attr('autocomplete', 'off');
            }

        });
        var varAllowRiskManager = "@Html.Raw(AllowRiskManager)" == "false" ? true : false;
        var varAllowDAC6 = "@Html.Raw(AllowDAC6)" == "false" ? true : false;
        var varAllowTrainingCourses = "@Html.Raw(AllowTrainingCourses)" == "true" ? true : false;
        var varAllowFileRepository = "@Html.Raw(AllowFileRepository)" == "false" ? true : false;
        var varAllowBusinessCard = "@Html.Raw(AllowBusinessCard)" == "false" ? true : false;

        $("#ckbAllowRiskManagerSwitch").bootstrapSwitch('state', varAllowRiskManager);
        $("#ckbAllowFileRepositorySwitch").bootstrapSwitch('state', varAllowFileRepository);
        $("#ckbAllowBusinessCardSwitch").bootstrapSwitch('state', varAllowBusinessCard);
        $("#ckbAllowDAC6Switch").bootstrapSwitch('state', varAllowDAC6);
        $("#ckbAllowTrainingCoursesSwitch").bootstrapSwitch('state', varAllowTrainingCourses);
        $("#ckballowCourseadminSwitch").bootstrapSwitch('state', true);



        $(".dataTables_length").empty();
        $(".dataTables_length").append("<h3 class='pageHeading' style='margin: 8px 0px 0px 0px;font-weight:bold;float:left'>Accounts</h3><a  data-toggle='modal' href='#ModalAccountManagement' class='btn purple' style='margin: 8px 0px 0px 10px;'>New<i style='margin-left: 10px;' class='fa fa-plus-circle'></i></a>");
        $('#ModalAccountManagement').on('hidden.bs.modal', function () {
            $("#hdnAccountId").val("");
            $("#txbUserID").val("");
            $("#txbOrganization").val("");
            $("#txbFirstName").val("");
            $("#txbLastName").val("");
            $("#txbEmail").val("");
            $("#txbPassword").val("");
            $("#txbPhone").val("");
            $("#textAreaSupportEmails").val("");
            $("#passwordSection").removeClass("hidden");
            $("#txbEmail").removeAttr("disabled");
            $("#ckbActiveAccountSwitch").bootstrapSwitch('state', true);
            $("#txbUserLimit").val(0);
            $('#coursesList').multiselect("deselectAll", false).multiselect("refresh");
            $("#ckbAllowRiskManagerSwitch").bootstrapSwitch('state', false);
            $("#ckbAllowFileRepositorySwitch").bootstrapSwitch('state', false);
            $("#ckbAllowBusinessCardSwitch").bootstrapSwitch('state', false);
            $("#ckbAllowDAC6Switch").bootstrapSwitch('state', false);
            $("#ckbAllowTrainingCoursesSwitch").bootstrapSwitch('state', true);
            $("#ckballowCourseadminSwitch").bootstrapSwitch('state', true);


            $("#accountStatusSection").removeClass("hidden")
            $("#btnAddOrUpdate").text("Add");
            $("#userManagementModalTitle").text("Add User");
        });
        $('#coursesList').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true
        });
        $('#ckbAllowTrainingCoursesSwitch').on('switchChange.bootstrapSwitch', function (e, data) {
            if (!data) {
                $("#TrainingCoursesSection").addClass("hidden");
                $("#admincourseadd").addClass("hidden");
            }
            else {
                $("#TrainingCoursesSection").removeClass("hidden");
                $("#admincourseadd").removeClass("hidden");
            }
        });
        LoadData();
    });
    LoadData = function ()
    {
        var url = '/Account/GetAccounts';
        AjaxPostRequestWithoutRequestPerameters(url, function (response) {
            console.log("Account");
            console.log(response.AccountList);
            if (response.AccountList != null) {
                AccountList = response.AccountList;
                $('#userTable').dataTable().fnClearTable();
                $('#userTable').dataTable().fnDestroy();
                $("#userTable").empty();
                var tdHTML = '<thead><tr><th colspan="12" style="padding-left: 10px;">Accounts</th></tr><tr><th>Account Id</th><th>User Name</th><th>First Name</th><th>Last Name</th><th>Organization</th><th @AllowRiskManager>Mitigate</th><th @AllowFileRepository>File Repository</th><th @AllowBusinessCard>Business Card</th><th @AllowDAC6>DAC 6</th><th @AllowTrainingCourses>Training Courses</th><th>Manage</th><th></th></tr></thead> <tbody>';
                for (var i = 0; i < response.AccountList.length; i++) {
                    tdHTML += "<tr>";
                    tdHTML += "<td>" + htmlEncode(response.AccountList[i].UserID) + "</td>";
                    tdHTML += "<td>" + htmlEncode(response.AccountList[i].UserName) + "</td>";
                    tdHTML += "<td>" + htmlEncode(response.AccountList[i].FirstName) + "</td>";
                    tdHTML += "<td>" + htmlEncode(response.AccountList[i].LastName) + "</td>";
                    tdHTML += "<td>" + htmlEncode(response.AccountList[i].Organization) + "</td>";
                    if (response.AccountList[i].AllowRiskManager) { tdHTML += "<td @AllowRiskManager>Yes</td>"; } else { tdHTML += "<td @AllowRiskManager>No</td>"; }
                    if (response.AccountList[i].AllowFileRepository) { tdHTML += "<td @AllowFileRepository>Yes</td>"; } else { tdHTML += "<td @AllowFileRepository>No</td>"; }
                    if (response.AccountList[i].AllowBusinessCard) { tdHTML += "<td @AllowBusinessCard>Yes</td>"; } else { tdHTML += "<td @AllowBusinessCard>No</td>"; }
                    if (response.AccountList[i].AllowDAC6) { tdHTML += "<td @AllowDAC6>Yes</td>"; } else { tdHTML += "<td @AllowDAC6>No</td>"; }
                    if (response.AccountList[i].AllowTrainingCourses) { tdHTML += "<td @AllowTrainingCourses>Yes</td>"; } else { tdHTML += "<td @AllowTrainingCourses>No</td>"; }
                    tdHTML += "<td><a href='/ManageAccount/Index?accountId=" + response.AccountList[i].EncryptedAccountId + "' target='_blank'>Manage</a></td>";
                    tdHTML += "<td style='text-align: right;'>";
                    tdHTML += "<a class='edit-account' href='#' data-id='" + response.AccountList[i].EncryptedAccountId + "' ><i class='fa fa-pencil customIcon'></i></a>";
                    tdHTML += "<a class='delete-account' href='#' data-id='" + response.AccountList[i].EncryptedAccountId + "' ><i class='fa fa-times customIcon'></i></a>";
                    tdHTML += "</td>";
                    tdHTML += "</tr>";
                }
                $("#userTable").append(tdHTML);
                $('#userTable').dataTable({
                    destroy: true,
                    "oLanguage": {
                        "oPaginate": {
                            "sPrevious": "<i class='fa fa-angle-double-left'></i>", // This is the link to the previous page
                            "sNext": "<i class='fa fa-angle-double-right'></i>", // This is the link to the next page
                        }
                    },
                    "pageLength": 10,
                    "info": false,
                    "aaSorting": [],
                    //"ordering": false,
                    //"lengthChange": false
                    initComplete: function () {
                        $(this.api().table().container()).find('input').parent().wrap('<form>').parent().attr('autocomplete', 'off');
                    }

                });
                $(".dataTables_length").empty();
                $(".dataTables_length").append("<h3 class='pageHeading' style='margin: 8px 0px 0px 0px;font-weight:bold;float:left'>Accounts</h3><a  data-toggle='modal' href='#ModalAccountManagement' class='btn purple' style='margin: 8px 0px 0px 10px;'>New<i style='margin-left: 10px;' class='fa fa-plus-circle'></i></a>");
            }
        });
    }
    $("#btnAddOrUpdate").on("click", function () {
        debugger;
        $('#ajaxLoader').modal('show');
        $('#ModalAccountManagement').css('z-index', '10049');
        var accountId = $('#hdnAccountId').val() == "" ? 0 : $('#hdnAccountId').val();
        var ufid = $("#txbUserID").val();
        var organization = $("#txbOrganization").val();
        var userName = $("#txbUserName").val();
        var password = $("#txbPassword").val();
        var firstName = $("#txbFirstName").val();
        var lastName = $("#txbLastName").val();
        var email = $("#txbEmail").val();
        var phone = $("#txbPhone").val();
        var supportEmails = $("#textAreaSupportEmails").val();

        var active = $('#ckbActiveAccountSwitch').bootstrapSwitch('state'); // true || false
        var allowRiskManager = $("#ckbAllowRiskManagerSwitch").bootstrapSwitch('state'); // true || false
        allowRiskManager = false;
        var allowFileRepository = $("#ckbAllowFileRepositorySwitch").bootstrapSwitch('state'); // true || false
        allowFileRepository = false;
        var allowBusinessCard = $("#ckbAllowBusinessCardSwitch").bootstrapSwitch('state'); // true || false
        allowBusinessCard = false;
        var allowDAC6 = $("#ckbAllowDAC6Switch").bootstrapSwitch('state'); // true || false
        var allowTrainingCourses = $("#ckbAllowTrainingCoursesSwitch").bootstrapSwitch('state'); // true || false
        allowDAC6 = false;
        allowTrainingCourses = true;
        var allowadmincourseTrainingCourses = $("#ckballowCourseadminSwitch").bootstrapSwitch('state'); // true || false
        var userLimit = $("#txbUserLimit").val();
        var logourl;
        var fileUpload = $("#logoupload").get(0);
        var files = fileUpload.files;
        // Create FormData object
        var fileData = new FormData();

        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        var token = $('[name=__RequestVerificationToken]').val();
        // Adding one more key to FormData object
        fileData.append('username', 'Manas');
        if (files.length > 0) {
            $.ajax({
                url: '/Account/UploadFiles',
                type: "POST",
                headers: { '__RequestVerificationToken': token },
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    console.log(result.Data);
                    logourl = result.Data;
                    if (ValidateAccountForm()) {
                        var url = '/Account/AddOrUpdateAccount';
                        var accountData = {
                            "EncryptedAccountId": accountId,
                            "UserID": ufid,
                            "Organization": organization,
                            "UserName": userName,
                            "Password": password,
                            "FirstName": firstName,
                            "LastName": lastName,
                            "Email": email,
                            "Phone": phone,
                            "SupportEmails": supportEmails,
                            "Active": active,
                            "AllowRiskManager": allowRiskManager,
                            "AllowFileRepository": allowFileRepository,
                            "AllowBusinessCard": allowBusinessCard,
                            "AllowDAC6": allowDAC6,
                            "AllowTrainingCourses": allowTrainingCourses,
                            "UserLimit": userLimit,
                            "CourseIDs": selectedCourses,
                            "allowadmincourseTrainingCourses": allowadmincourseTrainingCourses,
                            "CompanyLogo": logourl
                        };
                        var requestPerameters = {
                            "account": accountData
                        }
                        AjaxPostRequestWithRequestPerameters(url, requestPerameters, function (response) {
                            //    debugger;
                            $('#ajaxLoader').modal('hide');
                            if (response.Feedback == "1") {
                                toastr.success("Account added successfuly.");
                                LoadData();
                                $("#txbUserLimit").val(0);
                                $('#coursesList').multiselect("deselectAll", false).multiselect("refresh");
                                $('#ModalAccountManagement').modal("hide");
                            }
                            else if (response.Feedback == "2") {
                                toastr.success("Account updated successfuly.");
                                LoadData();
                                $('#ModalAccountManagement').modal("hide");
                            }
                            else if (response.Feedback == "3")
                                toastr.error("This Account Id already exist.");
                            else if (response.Feedback == "4")
                                toastr.error("This Email already exist.");
                            else if (response.Feedback == "6") {
                                toastr.error("Passwords must have at least 8 characters with one in uppercase, one lowercase, one number and one special character.");
                            }

                            $('#ModalAccountManagement').css('z-index', '10050');
                        });
                    }
                    else {
                        $('#ModalAccountManagement').css('z-index', '10050');
                        $('#ajaxLoader').modal('hide');
                    }
                },
            });
            //debugger;
        }
        else {
            if (ValidateAccountForm()) {
                var url = '/Account/AddOrUpdateAccount';
                logourl = $("#imglogoshow").attr('src');
                var accountData = {
                    "EncryptedAccountId": accountId,
                    "UserID": ufid,
                    "Organization": organization,
                    "UserName": userName,
                    "Password": password,
                    "FirstName": firstName,
                    "LastName": lastName,
                    "Email": email,
                    "Phone": phone,
                    "SupportEmails": supportEmails,
                    "Active": active,
                    "AllowRiskManager": allowRiskManager,
                    "AllowFileRepository": allowFileRepository,
                    "AllowBusinessCard": allowBusinessCard,
                    "AllowDAC6": allowDAC6,
                    "AllowTrainingCourses": allowTrainingCourses,
                    "UserLimit": userLimit,
                    "CourseIDs": selectedCourses,
                    "allowadmincourseTrainingCourses": allowadmincourseTrainingCourses,
                    "CompanyLogo": logourl
                };
                var requestPerameters = {
                    "account": accountData
                }
                AjaxPostRequestWithRequestPerameters(url, requestPerameters, function (response) {
                    //    debugger;
                    $('#ajaxLoader').modal('hide');
                    if (response.Feedback == "1") {
                        toastr.success("Account added successfuly.");
                        LoadData();
                        $("#txbUserLimit").val(0);
                        $('#coursesList').multiselect("deselectAll", false).multiselect("refresh");
                        $('#ModalAccountManagement').modal("hide");
                    }
                    else if (response.Feedback == "2") {
                        toastr.success("Account updated successfuly.");
                        LoadData();
                        $('#ModalAccountManagement').modal("hide");
                    }
                    else if (response.Feedback == "3")
                        toastr.error("This Account Id already exist.");
                    else if (response.Feedback == "4")
                        toastr.error("This Email already exist.");
                    else if (response.Feedback == "6") {
                        toastr.error("Passwords must have at least 8 characters with one in uppercase, one lowercase, one number and one special character.");
                    }

                    $('#ModalAccountManagement').css('z-index', '10050');
                });
            }
            else {
                $('#ModalAccountManagement').css('z-index', '10050');
                $('#ajaxLoader').modal('hide');
            }
        }
    });
    $(document).on("click", ".edit-account", function (e) {
        e.preventDefault
        var accountId = $(this).attr("data-id");
        $("#hdnAccountId").val(accountId);
        var findAccount = false;
        for (var i = 0; i < AccountList.length; i++) {
            if (accountId == AccountList[i].EncryptedAccountId) {
                findAccount = true;
                $("#txbUserID").val(AccountList[i].UserID);
                $("#txbOrganization").val(AccountList[i].Organization);
                $("#txbFirstName").val(AccountList[i].FirstName);
                $("#txbLastName").val(AccountList[i].LastName);
                $("#txbEmail").val(AccountList[i].Email);
                $("#txbPhone").val(AccountList[i].Phone);
                $("#textAreaSupportEmails").val(AccountList[i].SupportEmails);
                $("#ckbActiveAccountSwitch").bootstrapSwitch('state', AccountList[i].Active);
                $("#ckbAllowRiskManagerSwitch").bootstrapSwitch('state', AccountList[i].AllowRiskManager);
                $("#ckbAllowFileRepositorySwitch").bootstrapSwitch('state', AccountList[i].AllowFileRepository);
                $("#ckbAllowBusinessCardSwitch").bootstrapSwitch('state', AccountList[i].AllowBusinessCard);
                $("#ckbAllowDAC6Switch").bootstrapSwitch('state', AccountList[i].AllowDAC6);
                // $("#ckbAllowTrainingCoursesSwitch").bootstrapSwitch('state', AccountList[i].AllowTrainingCourses);
                $("#ckbAllowTrainingCoursesSwitch").bootstrapSwitch('state', true);
                $("#ckballowCourseadminSwitch").bootstrapSwitch('state', AccountList[i].allowadmincourseTrainingCourses);
                $(".front-image").show();
                if (AccountList[i].CompanyLogo != "") {
                    $("#imglogoshow").attr("src", AccountList[i].CompanyLogo);
                }
                $("#txbUserLimit").val(AccountList[i].UserLimit);
                for (var j = 0; j < AccountList[i].CourseIDs.length; j++) {
                    $("#coursesList option[value='" + AccountList[i].CourseIDs[j] + "']").prop("selected", true);
                }
                $("#coursesList").multiselect('refresh');
                if (AccountList[i].UserId == 1) $("#accountStatusSection").addClass("hidden");
            }
        }
        if (findAccount) {
            $("#passwordSection").addClass("hidden");
            $("#txbEmail").attr("disabled", true);
            $("#btnAddOrUpdate").text("Update");
            $("#userManagementModalTitle").text("Update User");
            $('#ModalAccountManagement').modal("show");
        }
        else {
            toastr.error("User detail could not found");
        }
    });
    $(document).on("click", ".delete-account", function (e) {
        e.preventDefault
        var accountId = $(this).attr("data-id");
        ShowConfirmationDialog('Delete ', 'Are you sure you want to delete this account?', function () {
            //return false;
            var requestPerameters = {
                "accountId": accountId
            };
            var url = '/Account/DeleteAccount';
            AjaxPostRequestWithRequestPerameters(url, requestPerameters, function (response) {
                if (response.Feedback) {
                    toastr.success("Account deleted successfuly");
                    LoadData();
                }
                else {
                    toastr.error("Failed to delete account.");
                }
            });
        }, null, 'Delete');
    });
    ValidateAccountForm = function () {

        selectedCourses = [];
        var ufid = $("#txbUserID").val();
        var organization = $("#txbOrganization").val();
        var userName = $("#txbUserName").val();
        var password = $("#txbPassword").val();
        var firstName = $("#txbFirstName").val();
        var lastName = $("#txbLastName").val();
        var email = $("#txbEmail").val();
        var phone = $("#txbPhone").val();
        var InvalidSupportEmail = false;
        var allowTrainingCourses = $("#ckbAllowTrainingCoursesSwitch").bootstrapSwitch('state'); // true || false
        var userLimit = $("#txbUserLimit").val();
        $('#coursesList option:selected').each(function (index, coursesList) {
            selectedCourses.push($(this).val());
        });
        var supportEmails = $("#textAreaSupportEmails").val();
        debugger;
        var spplitedEmails = supportEmails.split(";");

        for (var i = 0; i < spplitedEmails.length; i++) {
            if (!ValidateEmail(spplitedEmails[i]))
            {
                InvalidSupportEmail = true;
                break;
            }
        }
        if (ufid == "") {
            toastr.error("Please provide Account Id.");
            return false;
        }
        else if (organization == "") {
            toastr.error("Please provide Organization.");
            return false;
        }
        else if (userName == "") {
            toastr.error("Please provide User Name.");
            return false;
        }
        else if (password == "" && $('#hdnAccountId').val() == "") {
            toastr.error("Please provide Password.");
            return false;
        }
        else if (password.length <= 8 && $('#hdnAccountId').val() == "") {
            toastr.error("Password must be greater than 8 characters.");
            return false;
        }
        if (firstName == "") {
            toastr.error("Please provide First Name.");
            return false;
        }
        else if (lastName == "") {
            toastr.error("Please provide Last Name.");
            return false;
        }
        else if (email == "") {
            toastr.error("Please provide Email.");
            return false;
        }
        else if (!ValidateEmail(email)) {
            toastr.error('The email address provided is not valid.');
            return false;
        }
        /*else if (phone == "") {
            toastr.error("Please provide Phone Number.");
            return false;
        }*/
        else if (phone != "" && !ValidateNumber(phone)) {
            toastr.error('The phone number provided is not valid.');
            return false;
        }
        else if(supportEmails.trim() == "") {
            toastr.error('Please provide support emails.');
            return false;
        }
        else if (InvalidSupportEmail) {
            toastr.error('Please provide valid support emails.');
            return false;
        }
        else if (allowTrainingCourses) {
            if (userLimit == 0 || userLimit == "") {
                toastr.error('Please provide user limit');
                return false;
            }
            //else if (selectedCourses.length == 0) {
            //    toastr.error('Please select course.');
            //    return false;
            //}
        }
        return true;
    }

   

    var loadimageFile = function (event) {
        $(".front-image").show();
        var image = document.getElementById('imglogoshow');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
<!-- END PAGE CONTENT BODY -->
